<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/main"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".Menu"
    android:background="#0C4666">

    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@drawable/border_contact_page"
        android:layout_margin="60dp">

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Menu \nExample"
        android:id="@+id/heading"
        android:textSize="50dp"
        android:textStyle="bold"
        android:gravity="center"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="40dp"
        android:textColor="#0C4666"
    />

    <Button
        android:layout_width="150dp"
        android:layout_height="wrap_content"
        android:id="@+id/context_id"
        android:layout_marginTop="300dp"
        android:layout_centerHorizontal="true"
        android:gravity="center"
        android:text="Share Me (Conext Menu)"
        />

    <Button
        android:layout_width="150dp"
        android:layout_height="wrap_content"
        android:id="@+id/popup_id"
        android:layout_centerHorizontal="true"
        android:gravity="center"
        android:text="Select Action (PopUp Menu)"
        android:layout_below="@+id/context_id"
        android:layout_marginTop="150dp"
        />
</RelativeLayout>
</RelativeLayout>